<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FreeBoard</title>
    <style>
        .content {
            font-family: 'Arial', sans-serif; /* 기본 글꼴 설정 */
            font-size: 14px; /* 기본 폰트 크기 설정 */
            text-decoration: none; /* 링크 밑줄 제거 */
            color: black; /* 링크 색상 설정 */
        }
        .page {
            display: flex;
            width: 70%;
            list-style: none;
        }
        .page li {
            padding: 0 5px;
        }

    </style>
</head>
<body>
<div th:replace="~{piece :: header}"></div>

<h1>자유게시판</h1>
<hr>

<main th:with="list=${map['list']}, pg=${map['pg']}">
    <table>
        <tr>
            <th>글번호</th>
            <th>제목</th>
            <th>내용</th>
            <th>조회수</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        <tr th:each="row : ${list}">
            <td th:text="${row.id}"></td>
            <td th:text="${#strings.length(row.title) > 10 ?
            #strings.substring(row.title, 0, 10) : row.title}"></td>
            <td><a class="content"
                   th:href="@{/board/fB_view/{id}(id=${row.id})}"
                   th:utext="${#strings.length(row.contents) > 10 ? #strings.substring(row.contents, 0, 10) : row.contents}"></a></td>
            <td th:text="${row.v_count != null ? row.v_count : ''}"></td>
            <td th:text="${row.nick != null ? row.nick : ''}"></td>
            <td th:text="${row.w_date != null ? row.w_date : ''}"></td>
        </tr>
    </table>

    <br>

    <ul class="page" th:with="groupParam=${param.group != null ? 'group=' + param.group : ''}, searchParam=${param.search != null ? 'search=' + param.search : ''}">
        <li th:if="${pg.prev}">
            <a th:href="@{|/board/freeBoard?page=${pg.begin - 1}&${groupParam}&${searchParam}|}">
                이전
            </a>
        </li>

        <li th:each="i : ${#numbers.sequence(pg.begin, pg.end)}">
            <a th:href="@{|/board/freeBoard?page=${i}&${groupParam}&${searchParam}|}">
                <span th:text="${i}"></span>
            </a>
        </li>

        <li th:if="${pg.next}">
            <a th:href="@{|/board/freeBoard?page=${pg.end + 1}&${groupParam}&${searchParam}|}">
                다음
            </a>
        </li>
    </ul>

    <form th:action="@{/board/freeBoard}" method="get">
        <input value="102" type="hidden" name="num" >
        <select name="group">
            <option value="title">제목</option>
            <option value="nick">작성자</option>
            <option value="contents">내용</option>
        </select>

        <input name="search" type="text">

        <button type="submit">검색</button>
    </form>

        <br>

<a th:href="@{/board/fBadd}">
    <button>글 작성</button>
</a>

<div th:replace="~{piece :: footer}"></div>
</main>
</body>
</html>

